body {
  background-color: rgba(250, 234, 5, 0.587);
}
a[href$="#"] {
  color: red;
  font-size: medium;
}
.teg {
  margin: 0px 1400px 0px 0px;
  padding: 10px;
  background-color: rgb(66, 187, 239);
  border: 1px solid blue;
}
#apostrof {
  color: aliceblue;
  text-decoration: solid;
}
p span {
  color: blue;
  text-transform: uppercase;
}
.parent {
  color: blue;
}
.child {
  font-size: 40px;
  color: rgb(0, 255, 72);
}
.divan {
  color: brown;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
}
.divan-paragraf {
  background-color: aquamarine;
  text-align: center;
}
